/* Add Style TO My Webdite */

* {
    font-family: 'Poppins', sans-serif;
    margin: 110;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav ul li a:hover{
    padding: 10px 5px;
    color: #ddd;
    font-weight: 700;
    background-color: var(--main-color);
    border-radius: 10px;
}

.dark-mode {
    background-color: #0b0c25 !important;
    color: white !important;
}

.dark-mode .navbar,
.dark-mode .bg-body-tertiary {
    background-color: #111324 !important;
}

.dark-mode .nav-link,
.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    color: #ddd !important;
}

.dark-mode .nav-link:hover {
    color: white !important;
}

.dark-mode .card,
.dark-mode .item,
.dark-mode .about,
.dark-mode .form {
    background-color: #1b1d36 !important;
    color: white !important;
    border-color: #333 !important;
}

.dark-mode footer {
    color: #ccc !important;
}

.reveal {
    opacity: 0;
    transform: translateX(-40px)translateY(-100px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

/* لما يدخل الشاشة */
.reveal.show {
    opacity: 1;
    transform: translateX(0);
}


:root {
    --main-color: #306cf4;
    --second-color: rgba(139, 0, 0, 0.731);
}

.darkorlightmode {
    background-color: rgb(255, 255, 255);
}

/* #darkmode {
    font-weight: 200;
    font-family: fantasy;
    border-radius: 10px;
} */

.color {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: cursive;
}


.main-section .content {
    position: relative;
    z-index: 2;
    /* قدام النقط */
    color: whitesmoke;
}

.main-section {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: white;
}

.main-section h3 {
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    /* filter: blur(0.3px); */
    font-weight: 400;
    font-size: 10px;
}

.main-section h1 {
    font-size: 20px;
}

.main-section .a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 0.5em;
    padding: 2px 5px;
}



/* End Header  */




/* End Main Section  */



section {
    padding: 100px 20px;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right top , rgba(0, 0, 0, 0.562) 40%, rgba(255, 255, 255, 0.402));
    /* background-image: url("imags/240_F_162741825_MavO6HW8wEoJsCQQuMrTHg0r5uNGbfbn.jpg"); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* بتخلي الصوره ثابته مكانها */
    background-attachment: fixed;
}


.main-section img {
    height: 190px;
    width: 180px;
    border-radius: 50%;
    animation: main-section-img 3s;
    animation-iteration-count: infinite;
}

@keyframes main-section-img {
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-10px);
    }
}


.main-section {
    font-size: 0.9em;
}

.main-section .icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    margin: 10px;
}

.main-section h4 {
    font-size: 19px;
    font-weight: 900;
}

.main-section h4 span {
    font-size: 2em;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 30px rgb(255, 255, 255);
}

.main-section div {
    width: 90%;
    margin: auto;
}

.main-section .icons i {
    margin-top: 2px;
    font-size: 1.5em;
    color: #ffffff;
    transition: all 2s;
}

.main-section .icons i:hover {
    color: var(--main-color);
    transform: scale(1.9);
}


.main-section h1 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    margin: 10px 0px;
}


.main-section h3 {
    font-weight: 7000;
    margin-bottom: 20px;
    font-size: 15px;
}



/* End Main Section  */



/* Start Services */

.More {
    text-align: center;
    width: 100%;
}


.More>h2 {
    padding: 30px 20px;
    color: var(--main-color);
    font-size: 1.6em;
    font-weight: 900;
}

.More>h2::before {
    content: "";
    margin: 20px 10px;
    width: 100%;
    height: 10px;
    border-style: solid;
    border-radius: 10px;
}

.More .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 20px 20px;
    gap: 50px;
}


.More .cards {
    overflow: hidden;
}

.More .cards img {
    transition: all 3s ease-in-out;
}

.More .cards img {
    height: 250px;
}

.More .cards .item img:hover {
    box-shadow: 20px 20px 100px blue;
    border-radius: 10px;
    transform: rotate(360deg);
    margin-bottom: 50px;
}


/* End Services  */

.about div>h2 {
    text-align: center;
    padding: 30px 20px;
    margin: 50px 20px;
    color: var(--main-color);
    font-size: 1.6em;
    font-weight: 900;
}

.about div>h2::before {
    content: "";
    margin: 20px 10px;
    width: 100%;
    height: 10px;
    border-style: solid;
    border-radius: 10px;
}

/* Start Projects */

.Projects>h2 {
    text-align: center;
    padding: 30px 20px;
    margin: 50px 20px;
    color: var(--main-color);
    font-size: 1.6em;
    font-weight: 900;
}

.Projects>h2::before {
    content: "";
    margin: 20px 10px;
    width: 100%;
    height: 10px;
    border-style: solid;
    border-radius: 10px;
}



.Projects .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    gap: 50px;
    text-align: center;
}

@media screen and (max-width:430px) {
    .Projects .items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
        gap: 50px;
        text-align: center;
    }
}

.Projects .itemm {
    overflow: hidden;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0px;
    width: 90%;
    margin: auto;
    transition: all 2s;
    animation: move 3s;
    animation-iteration-count: infinite;
}

.Projects .itemm:hover {
    color: rgb(0, 0, 0);
    z-index: 2;
    margin: auto;
    transform: scale(1.1);
}

@keyframes move {
    0% {
        box-shadow: 0px 0px 20px red;
        border: 1px solid red;
    }

    50% {
        box-shadow: 0.6px 0.6px 10px red;
        border: 1px solid red;
    }

    70% {
        box-shadow: 0.8px 0.8px 10px red;
        /* border: 1px solid rgb(136, 255, 0); */
    }

    100% {
        box-shadow: 1px 1px 15px red;
        border: 1px solid rgb(21, 0, 255);
    }

}

.Projects .itemm img {
    border-radius: 5px;
    margin: 20px;
    width: 90%;
    height: 150px;
}

.Projects .itemm h3 {
    color: white;
    margin: 10px 20px;
    font-weight: bold;
}

.Projects .itemm p {
    color: rgb(159, 184, 184);
}

.Skills{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    gap: 20px;
}

.Skills .card{
    background-color: #111324;
    color: white;
    box-shadow: 1px 1px 10px white;
}

.Skills .card:hover{
    background-color: transparent;
    border: 2px solid white;
    color: blue;
}

.Skills .card i{
    width: 100%;
    font-size: 70px;
    margin-top: 10px;
    border-radius: 20px;
    color: var(--main-color);
}






.contact2{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    /* flex-direction: row; */
    min-height: 100vh;
    background-color: #ffffffae;
    padding: 50px;
}

.contact2 .text .part1 h2{
    font-weight: 800;
    margin: 10px 0px; 
    border-radius: 10px;
    padding: 10px;
}


.contact2 .text .part1  span i{
    font-size: 20px;
    margin: 10px;
    color: blue;border-radius: 10px;
    padding: 10px;
}
.contact2 .text .part1  span{
border-radius: 10px;
    padding: 10px;
}
.contact2 .text .part2 h2{
   margin-top: 30px;
   font-weight: 800;
   padding: 10px;
   border-radius: 10px;
}

.contact2 .text .part2 a i{
    background-color: rgb(246, 246, 246);
    text-align: center;
    padding: 2px 3px;
}

.contact2 .text .part2 a i{
    margin-top: 20px;
    font-size: 35px;
    color: rgb(0, 13, 255);
    border-radius: 30%;
    padding: 10px;
    border-radius: 10px;
    
}


.contact2 .input input{
    background-color: transparent;
    transition: 1s;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
}


.contact2 .input form{
    border: 2px solid gold;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding:50px;
    height: 550px;
    /* width: 100%; */
}

.contact2 .input input:focus{
    outline: none;
    transform: scale(1.1);
}

.contact2 .input textarea{
    resize: none;
    width: 210px;
    height: 170px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0px;
}

.contact2 .input button{
    width: 70%;
    margin: 20px auto;
    padding: 7px;
    border-radius: 15px;
    background: linear-gradient(to left top, red,black);
    color: white;
    font-weight: 900;
    font-style: italic;
    transition: 2s;
}

.contact2 .input button:focus{
    display: none;
}











footer {
    text-align: center;
    padding: 10px;
    font-size: 10px;
    background-color: black;
    color: white;
    width: 100%;
}